<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.futsalrecord.futsalinfosystem">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/footballicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/footballicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.user.UserDashboard"
            android:label="@string/title_activity_user_dashboard"
            android:theme="@style/AppThemeUser"></activity>
        <activity android:name=".activities.futsal.CustomerSearchActivity" />
        <activity android:name=".activities.futsal.FutsalFeedback" />
        <activity android:name=".activities.futsal.GameActivity" />
        <activity android:name=".activities.futsal.FutsalAboutUsActivity" />
        <activity android:name=".activities.futsal.FutsalEventActivity" />
        <activity android:name=".activities.futsal.CustomerDetailActivity" />
        <activity android:name=".activities.futsal.AddCustomerActivity" />
        <activity android:name=".activities.futsal.FutsalProfileActivity" />
        <activity android:name=".activities.registration.FutsalProfilePic" />
        <activity android:name=".activities.registration.UserProfilePic" />
        <activity android:name=".activities.futsal.FutsalSettingActivity" />
        <activity android:name=".activities.futsal.FutsalCustomerDataActivity" />
        <activity
            android:name=".activities.FutsalDashboard"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.GettingStarted" />
        <activity android:name=".activities.registration.FutsalRegistration" />
        <activity android:name=".activities.registration.UserRegistration" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>